* {padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(45deg, blue, rgb(0, 225, 255), rgb(43, 0, 255));
    
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: none;
    background-color: black;
    padding: 15px;
    text-align: center;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
}

#menu-btn {
    display: none;
}

#menu-btn-label {
    display: block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

#menu-btn-label span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: white;
    margin-bottom: 5px;
}

.container {
    background-color: black;
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.image-container {
    text-align: center;
    /* Alinear la imagen al centro */
    display: block;
}

.image-container img {
    max-width: 100%;
    /* Ajustar la imagen al ancho del contenedor */
    height: auto;
    /* Altura automática para mantener la proporción */
    display: block;
    /* Corregir el espacio adicional alrededor de la imagen */
    margin: 0 auto;
    /* Centrar la imagen horizontalmente */
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 50px 50px;
    color: black;

}

section {
    background: linear-gradient(45deg, blue, rgb(0, 225, 255), rgb(43, 0, 255));
    padding: 20px;
    margin-bottom: 20px;
    flex: wrap;
}

/* Estilos para la imagen */
section img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción */
    display: block; /* Para asegurar que no haya espacios extra */
    margin-bottom: 10px; /* Espacio inferior */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-text {
    flex: 1;
    text-align: left;
}

.footer-social {
    flex: 1;
    text-align: right;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-social a:hover {
    text-decoration: underline;
}


